@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));



/*   background-image: url(../public/dark-fabric.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin:0; */

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@font-face {
  font-family: "my1Font";
  font-style: normal;
  font-weight: normal;
  font-display: optional;

  src: url('../public/fonts/RobotoMono-VariableFont_wght.woff2') format("woff2");
}

@font-face {
  font-family: "my2Font";
  font-style: normal;
  font-weight: normal;
  font-display: optional;
  src: url('../public/fonts/Outfit-VariableFont_wght.woff2') format("woff2");
}

@font-face {
  font-family: "my3Font";
  font-style: normal;
  font-weight: normal;
  font-display: optional;
  src: url('../public/fonts/Manrope-VariableFont_wght.woff2') format("woff2");
}



.text-biggest {
  font-size: 22rem;
}